pkgbase = python-cffi
	pkgdesc = Foreign Function Interface for Python calling C code
	pkgver = 1.16.0
	pkgrel = 2
	url = https://cffi.readthedocs.org/
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-pycparser
	optdepends = python-setuptools: "limited api" version checking in cffi.setuptools_ext
	source = https://github.com/python-cffi/cffi/archive/v1.16.0/python-cffi-1.16.0.tar.gz
	sha512sums = 2115f4d2431f36b18494182d2abb378a750c970dfdf083cfc287b004e52830efe703f07f71a17c89060b47eaa3b52e7b2390017d1980eb39695bdaf31bac3bb5

pkgname = python-cffi
